:root {
    --body-bc: #100707;
    --logo-color: #005BA1;
    --header-bc: #064199;
    --body-bc: #a7acae;
    --card-bc: #ccd0ff;
    --header-color: #b3c7e9;
    --page-bc: #efefef;
    --center-bc: #D6DFE7;
    --label-color: #cdcdcd;
    --font-color: #464039;
    --curr-que-bc: #cbddc8;
    --font-size: 20px;
    --menu-overlay-bc: #041b3c;
    --btn-color: #144B9E;
    --category-color: #36549d;
    --category-bc: #8cabd947;
    --hard: #cb4040;
    --medium: #598de5;
    --easy: #59b148;
    --que-color: #464039;
}

@media screen and (max-width: 700px) {
    :root {
        --body-bc: #EEF4F7;
    }
}

*:focus {
    outline: none;
}

body {
    background-color: var(--body-bc);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    font-family: system-ui, ui-serif;
    font-size: var(--font-size)
}

body .content header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: var(--logo-color);
    border-bottom: 5px solid var(--logo-color);
}

.logo {
    padding: 15px;
    padding-right: 5px;
}

.logo img {
    width: 35px;
    height: 35px;
}

.header .app-name {
    font-size: 35px;
    margin: 0px;
    margin-top: 10px;
}

.header .menu-button {
    font-size: calc(var(--font-size) + 20px);
    background: none;
    border: none;
    color: var(--logo-color);
    cursor: pointer;
    padding: 0px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: auto;
}




.page-content.main {
    display: grid;
    background-color: var(--page-bc);

}

.search-section.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.search-section.card input {
    width: 60%;
    min-width: 200px;
    padding: 6px;
    text-align: center;
    border-radius: 20px;
    border: none;
    height: 30px;
}

.caret::before {
    color: #928484;
}

.card.tags {
    margin: 7px 0px;
}

.tags input {
    border: none;
}

.always-hide {
    display: none !important;
}

.back-home {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.topbar {
    display: flex;
}

.topbar button {
    width: 20%;
    font-size: 30px;
}

.topbar .sesearch-section {}

input.search-card:focus {
    outline: auto;
    outline-color: blue;
}

/* Question sec*/
.question-section.practise,
.card-body,
.tasks-section,
.all-tags-section {
    display: flex;
    flex-wrap: wrap;
    border: 0px solid gray;
    border-radius: 7px;
    margin: 15px;
    margin-top: 0px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 0px;
}


.question.text {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}

.question-section.practise {
    justify-content: center;
    align-items: center;
}

.question-level {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-section.practise .search-container {
    margin: 0px;
}

input.filter-question {
    padding: 3px 10px;
    border: none;
    border-radius: 21px;
    text-align: left;
}

/* end */


.card-tabs {
    display: flex;
    padding: 10px;
}

.card-tabs .tab {
    flex: 1;
    text-align: center;
    display: inline;
}

/* Card */
.card.main {
    width: auto;
    border: 3px solid #ddddef;
    border-radius: 5px;
    margin: 10px;
    padding: 0px;
    background-color: white;
}

.card-body .card-content {
    background-color: white;
    width: 100%;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
}

.card-body .question-section {
    border-top: 1px solid gray;
    width: 100%;
    padding: 0px 10px;
}

.card-content .heading {
    font-weight: 700;
    background-color: inherit;
    font-size: calc(var(--font-size) + 7px);
}

.card-content .text-content {
    background-color: white;
    padding: 6px;
    margin: 0px 6px;
    border-radius: 5px;
}

.sec {
    padding: 10px;
}

.sort {
    margin: 0px 6px;
    color: blue;
    cursor: pointer;
}

.question select {
    border: none;
    border-radius: 6px;
    background-color: inherit;
}

.question button#delete {
    margin: 0px;
    margin-left: auto;
    background-color: inherit;
    margin-right: 10px
}

hr {
    margin: 0px 7px;
}

.head-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card .que-sec {
    margin: 0px;
    background-color: white;

    border-radius: 0px 0px 5px 5px;
}

.card-content .text-content span,
.card-content .text-content textarea {
    background-color: inherit;
    padding: 0px;
    width: 100%;
}

.que-list .question textarea {
    background-color: inherit;
    width: 100%;
    padding: 6px;
}

.text-content {
    background-color: white;
    padding: 5px
}

.question-list .question {
    border-radius: 5px;
    background-color: #ebebeb;
    margin: 5px 0px;
}

.question-list .question textarea {
    padding: 10px;
    width: 100%;

}



textarea {
    min-height: 30px !important;
    width: 100%;
}

.card .image-list img {
    width: 90%;
}


.que-is-mcq {
    display: flex;
    margin: 7px;
}

.card .heading-sec {
    display: flex;
    min-height: 40px;
    margin-left: 7px;

}

.fa-caret-right:before,
.fa-caret-down:before {
    margin-right: 5px;
}

.question-list {
    max-height: 50vh;
    overflow-y: scroll;
}

.heading-sec .caret.icon {
    margin-top: 10px;
    margin-right: 6px;
}

.card .heading-sec .heading {
    text-align: left;
    background-color: inherit;
    font-weight: 700;
    font-size: calc(var(--font-size) + 4px);
}


/* end card */


button {
    border: none;
    color: var(--btn-color);
    background-color: inherit;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.center-btns {
    display: flex;
}

button#random {
    margin-left: auto;
}

.right {
    margin-left: auto;
}



.visibility,
.head-text {
    cursor: pointer;
}

.per-que>.tag-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.per-que>.tag-label label {
    margin: 0px;
}

.per-que>.tag-label #add-new-que {
    margin-left: auto;
}

/* Tags section */

.tag-sec {
    display: grid;
    margin: 7px 0px;
}

.tag-sec label,
.tag-label label {
    margin-top: 12px;
    color: var(--header-bc);
    /*font-size: calc(var(--font-size) + 2px);*/
}

.tags {
    display: flex;
    overflow-x: scroll;
    flex-wrap: wrap;
    padding: 0px 5px;
}

.tag {
    margin: 2px 5px;
    padding: 0px 7px;
    color: var(--header-bc);
    border: 1px solid var(--header-bc);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: calc(var(--font-size) - 3px);
}

input[type="checkbox"] {
    background-color: inherit;
    /* Red background color */
}


.search-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-sec .tag {
    padding: 7px;
    border-radius: 25px;

}

input.search-tag {
    padding: 10px;
    border: none;
    border-radius: 21px;
    text-align: center;
}

.tag-name {
    padding-bottom: 2px;
}

.tag-delete-icon {
    margin-left: 10px;
    color: var(--label-color);
}

.tag-sec input {
    border: 0px;
    padding: 3px;
    background-color: inherit;

}

.tag-sec input:focus {
    outline: none;
}


.add-tag-icon {
    width: 16px;
    height: 18px;
    color: var(--label-color);
    border-radius: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size);
    cursor: pointer;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-left: 8px;
}

.que-sec .main-content {
    padding: 0px;
}

.add-tag-icon .fa-tag {
    margin: 3px;
}

/* end tags section*/

span.bullet {
    font-size: calc(var(--font-size) + 3px);
}

/* Questions */


.tag-sec.question {
    display: flex;
    flex-wrap: wrap;
}

.question .tags {
    padding: 10px;
}

.question .tags input {
    margin: 0px;
}

/**/

.all-tags-sec {
    margin: 10px;
    background-color: var(--center-bc);
    padding: 10px;
    border-radius: 5px;
}

.all-tag-head {
    display: flex;
    align-items: center;
}

h2 {
    color: var(--header-bc);
    margin: 0px;
}

.all-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 5px;
}



/* setting page css */
/* Setting page css*/
.page.setting {
    margin: 15px;
    background-color: var(--center-bc);
    border-radius: 7px;
}



.setting .item {
    display: flex;
    padding: 12px;

}

.setting .item h1 {
    color: var(--header-bc);
}

.setting .item label {
    color: var(--header-bc);
}

.setting .item input,
.setting .item select {
    border: none;
    padding: 7px;
    margin: 0px 10px;
    border-radius: 5px;
}

.setting button#save {
    border: 1px solid var(--header-bc);
}

/* end setting page css*/




/* Image Button*/
/* CSS for styling the modal and buttons */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    cursor: pointer;
}

.page-content.main.body-hard {
    background-color: #eab7b7;
}

.page-content.main.body-medium {
    background-color: #b7bbea;
}

.page-content.main.body-easy {
    background-color: #c5ddb5;
}

.nav-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prevButton {
    left: 0;
}

#nextButton {
    right: 0;
}



/* autocompelete */
.autocomplete-overlay {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    max-height: 400px;
    overflow-y: auto;
}

#autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-item.new-card {
    color: blue;
    font-weight: 700;
}

#autocomplete-list li {
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

#autocomplete-list li:hover {
    background-color: #e9e9e9;
}